*{ 
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  padding: 0;
  margin: 0;
}


.nav{
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #00579C;
    color: white;
    height: 3vh;
}

.aside{
    grid-area: aside;
    text-align: center;
    background-color: #a4afce;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: black;
    height: 8vh;
}

.main{
    height: 72vh;
    overflow: scroll;
}

.footer{
    grid-area: footer;
    background-color: #012F6B;
    color: white;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    height: 5vh;
}

.btn {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.425);
    border-radius: 8px;
    border: none;
    color:;
}

button{
  background-color: #00579C;
  color: white;
  height: 30px;
  text-shadow: 2px 2px 2px black;
}

.productos{
    padding: 1rem 1rem;
    grid-area: menu;
    display:grid;
    gap: 1rem;
}

.caja-producto{
   
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #363231;
    text-align: center;
    gap: 1rem;
}

img{
    width: 75%;
    margin: auto;
    padding-top: 2rem;
}


@media (min-width: 576px){
    body{
        height: 100vh;
        display: grid;
        grid-template-columns: auto 8fr;
        grid-template-areas:
        "nav aside"
        "nav main"
        "nav main"
        "footer main";

        .nav{
        height: auto;
        min-width: 5rem;
        }
       .productos{
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        }
        .main{
            height: auto;
        }
        .footer{
            height: auto;
            max-width: 10rem;
            padding: 1rem;
        }



    }
}

